body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  /* max-height: 100vh; */
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
 
.bg__dark {
  background-color: #212121;
  color: #ECECEC;
  

}

.bg_img {
  background-image: url("./image/bg_hero_mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(193, 100%, 96%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 30px 20px;
  font-weight: 700;
}

.header img {
  width: auto;
  height: 20px;
}

.header a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 7px 30px;
  border-radius: 25px;
  font-size: small;
  box-shadow: 1px 1px 6px -2px hsl(208, 11%, 55%);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mockUps {
  padding: 61px 0px;
}

h1 {
  font-size: 1.4em;
}

h1,
p,
.secondPage p {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
}

.firstPage {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 40px;
  margin-block: 70px;
}
.home_article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
img {
  max-width: 100%;
  max-height: auto;
}

.mockUps img {
  max-width: 100%;
  max-height: auto;
  width: 600px;
}

.startedButton {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 13px 40px;
  font-weight: 700;
  text-decoration: none;
  font-size: 13px;
  margin: 0 30px;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 215px;
}

.main__section__article {
  box-shadow: 1px 1px 8px -4px hsl(208, 11%, 55%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 35px 50px 35px;
  margin-inline: 20px;
  /* background-color: white; */

}

.main__section__article img {
  width: 70vw;
}

.main__section__article h2 {
  font-size: 20px;
  margin-top: 50px;
}

.main__section__article p {
  font-size: small;
  margin-top: 20px;
  color: hsl(208, 11%, 55%);
}

.bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(151, 151, 151, 0.35) 0px 1px 7px;
  background-color: white;
  border-radius: 15px;
  padding: 40px 40px;
  text-align: center;
}

.buildCommu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(151, 151, 151, 0.35) 0px 1px 7px;
  background-color: white;
  border-radius: 15px;
  padding: 25px 10px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(192, 100%, 9%);
  position: relative;
  transform-style: preserve-3d;
  font-weight: 100;
}

.bottomFooter {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  gap: 60px;
  margin: 150px 0 30px 0;
}

.logo2 {
  width: 175px;
}

.contact {
  display: grid;
  grid-gap: 30px;
}
ul li {
  list-style: none;
}

.white {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 15px;
}

#facebook {
  padding: 0.5rem 0.7rem;
}

.social_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social_icon {
  display: flex;
  gap: 20px;
}

ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

.tel::before {
  content: url(/image/icon_phone.svg);
}

.email::before {
  content: url(/image/icon_email.svg);
}

.location::before {
  content: url(/image/icon_location.svg);
}

.tel,
.email,
.location {
  display: flex;
  gap: 15px;
}

#copyright::before {
  content: url(/image/copyright.svg);
  display: flex;
  justify-content: center;
  gap: 3px;
}

#copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.startedButton:hover {
  opacity: 0.7;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

i:hover {
  color: hsl(322, 100%, 66%);
  border: hsl(322, 100%, 66%) solid 1px;
  cursor: pointer;
}

.header a:hover {
  color: hsl(208, 11%, 55%);
}

/* Responsive */
@media screen and (min-width: 600px) {
  .bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 40px 60px;
  }
  ul {
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 100px;
  }
  .contact {
    max-width: 30%;
  }
  .social_media {
    align-items: start;
    gap: 190px;
    padding-top: 141px;
  }
  .home_article {
    max-width: 500px;
    align-items: start;
    justify-content: center;
  }
  .home_article p,
  h1 {
    text-align: left;
  }
  .firstPage {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .secondPage img {
    width: 350px;
  }
  .secondPage div {
    width: 350px;
  }
}
@media screen and (min-width: 900px) {
  .header {
    padding: 30px 70px 0 80px;
  }

  .buildCommu {
    width: 50%;
  }
  .row {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }
  .row-reverse {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: left;
  }
}

@media screen and (min-width: 1189px) {
  .bg_img {
    height: 100vh;
  }
  .secondPage {
    margin: 0px 40px;
    margin-top: 180px;
  }
  footer {
    margin-top: 200px;
  }
  .startedButton {
    margin-left: 0;
  }
}
