body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  font-size: 18px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* Header description */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 30px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.header img {
  width: auto;
  height: 16px;
}

.header a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 3px 15px;
  border-radius: 25px;
  font-size: small;
  box-shadow: 1px 1px 8px -5px hsl(208, 11%, 55%);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.firstPage {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 40px;
}

img {
  max-width: 100%;
  max-height: auto;
}

.startedButton {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 55px;
  font-weight: 700;
  text-decoration: none;
  width: 190px;
}

.bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(151, 151, 151, 0.35) 0px 1px 7px;
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  padding: 40px 40px;
  text-align: center;
}

.bottomFooter {
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

ul li {
  list-style: none;
}

.white {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 15px;
}

#facebook {
  padding: 0.5rem 0.7rem;
}

.social_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social_icon {
  display: flex;
  gap: 20px;
}

ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

.tel::before {
  content: url(/image/icon_phone.svg);
}

.email::before {
  content: url(/image/icon_email.svg);
}

.location::before {
  content: url(/image/icon_location.svg);
}

.tel,
.email,
.location {
  display: flex;
  gap: 15px;
}

#copyright::before {
  content: url(/image/copyright.svg);
  display: flex;
  justify-content: center;
  gap: 3px;
}

#copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
}
